# Ignore specific files
.settings.xml
.monitor
.DS_Store
*.orig
npm-debug.log
npm-debug.log.*
*.dat
.idea
.vscode

# Ignore various temporary files
*~
*.swp


# Ignore various Node.js related directories and files
node_modules
node_modules/**/*
coverage/**/*
example/build/**/*
# dist/**/* # allowing for build on my own github repo for dist via github URL
.next
package-lock.json
out
